{% include "header.html" %}

<section class="mb-lg-14 mb-8 mt-8">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-12">
                <div>
                    <div class="mb-8">
                        <!-- text -->
                        <h1 class="fw-bold mb-0">Checkout</h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- row -->
            <form action="" , method="post">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <!-- accordion -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!-- accordion item -->
                            <div class="accordion-item py-4">

                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- heading one -->
                                    <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"
                                       data-bs-target="#flush-collapseOne" aria-expanded="true"
                                       aria-controls="flush-collapseOne">
                                        <i class="feather-icon icon-map-pin me-2 text-muted"></i>Add delivery address
                                    </a>
                                    <!-- btn -->
                                    <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                       data-bs-target="#addAddressModal">Add a new address</a>
                                    <!-- collapse -->
                                </div>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="mt-5">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 mb-4">
                                                {% if addresses %}
                                                    <!-- form -->
                                                    {% for address in addresses %}
                                                        <div class="card card-body p-6 ">
                                                            <div class="form-check mb-4">
                                                                <input class="form-check-input" type="radio"
                                                                       name="selected_address"
                                                                       id="address{{ address.address_id }}"
                                                                       value="{{ address.address_id }}" required>
                                                                <label class="form-check-label text-dark"
                                                                       for="address{{ address.address_id }}">
                                                                    {{ address.label }}
                                                                </label>
                                                            </div>
                                                            <!-- address -->
                                                            <address>{{ address.address1 }}, <br>
                                                                {{ address.address2 }}, {{ address.city }}

                                                                {{ address.state }}, {{ address.country }},<br>

                                                                {{ address.zip_code }}
                                                            </address>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <h5 class="text-gray-400 h6">You have no saved addresses...Please
                                                        create one to continue</h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- accordion item -->
                            <div class="accordion-item py-4">

                                <a href="#" class="text-inherit h5" data-bs-toggle="collapse"
                                   data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                   aria-controls="flush-collapseTwo">
                                    <i class="feather-icon icon-shopping-bag me-2 text-muted"></i>Delivery instructions
                                    <!-- collapse --> </a>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse "
                                     data-bs-parent="#accordionFlushExample">

                                    <div class="mt-5">
                                        <label for="DeliveryInstructions" class="form-label sr-only">Delivery
                                            instructions</label>
                                        <textarea class="form-control" id="DeliveryInstructions" rows="3"
                                                  placeholder="Write delivery instructions "
                                                  name="delivery_instructions"></textarea>
                                        <p class="form-text">Add instructions for how you want your order shipped and/or
                                            delivered</p>
                                        <div class="mt-5 d-flex justify-content-end">
                                            <a href="#" class="btn btn-outline-gray-400 text-muted"
                                               data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                               aria-expanded="false"
                                               aria-controls="flush-collapseOne">Prev</a>
                                            <a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse"
                                               data-bs-target="#flush-collapseThree" aria-expanded="false"
                                               aria-controls="flush-collapseThree">Next</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- accordion item -->
                            <div class="accordion-item py-4">

                                <a href="#" class="text-inherit h5" data-bs-toggle="collapse"
                                   data-bs-target="#flush-collapseThree" aria-expanded="false"
                                   aria-controls="flush-collapseThree">
                                    <i class="feather-icon icon-credit-card me-2 text-muted"></i>Payment Method
                                    <!-- collapse --> </a>
                                <div id="flush-collapseThree" class="accordion-collapse collapse "
                                     data-bs-parent="#accordionFlushExample">

                                    <div class="mt-5">
                                        <div>

                                            <div class="card card-bordered shadow-none mb-2">
                                                <!-- card body -->
                                                <div class="card-body p-6">
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <!-- checkbox -->
                                                            <input class="form-check-input" type="radio"
                                                                   name="selected_payment_option" id="paypal"
                                                                   value="paypal">
                                                            <label class="form-check-label ms-2" for="paypal">

                                                            </label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6"> Payment with Paypal</h5>
                                                            <p class="mb-0 small">You will be redirected to PayPal
                                                                website
                                                                to complete your purchase
                                                                securely.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card -->
                                            <div class="card card-bordered shadow-none mb-2">
                                                <!-- card body -->
                                                <div class="card-body p-6">
                                                    <div class="d-flex mb-4">
                                                        <div class="form-check ">
                                                            <!-- input -->
                                                            <input class="form-check-input" type="radio"
                                                                   name="selected_payment_option" id="creditdebitcard"
                                                                   value="card">
                                                            <label class="form-check-label ms-2" for="creditdebitcard">

                                                            </label>
                                                        </div>
                                                        <div>
                                                            <h5 class="mb-1 h6"> Credit / Debit Card</h5>
                                                            <p class="mb-0 small">Safe money transfer using your bank
                                                                accou
                                                                k account. We support
                                                                Mastercard tercard, Visa, Discover and Stripe.</p>
                                                        </div>
                                                    </div>
                                                    <div class="row g-2">
                                                        <div class="col-12">
                                                            <!-- input -->
                                                            <div class="mb-3">
                                                                <label class="form-label">Card Number</label>
                                                                <input type="text" class="form-control"
                                                                       placeholder="1234 4567 6789 4321">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <!-- input -->
                                                            <div class="mb-3 mb-lg-0">
                                                                <label class="form-label">Name on card </label>
                                                                <input type="text" class="form-control"
                                                                       placeholder="Enter your first name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <!-- input -->
                                                            <div class="mb-3  mb-lg-0 position-relative">
                                                                <label class="form-label">Expiry date </label>
                                                                <input class="form-control flatpickr " type="text"
                                                                       placeholder="Select Date">
                                                                <div class="position-absolute bottom-0 end-0 p-3 lh-1">
                                                                    <i class="bi bi-calendar text-muted"></i>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <!-- input -->
                                                            <div class="mb-3  mb-lg-0">
                                                                <label class="form-label">CVV code </label>
                                                                <input type="password" class="form-control"
                                                                       placeholder="***">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card -->
                                            <div class="card card-bordered shadow-none">
                                                <div class="card-body p-6">
                                                    <!-- check input -->
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                   name="selected_payment_option" id="cashonDelivery"
                                                                   value="cash_on_delivery">
                                                            <label class="form-check-label ms-2" for="cashonDelivery">

                                                            </label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6"> Cash on Delivery</h5>
                                                            <p class="mb-0 small">Pay with cash when your order is
                                                                delivered.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="mt-5 d-flex justify-content-end">
                                                <a href="#" class="btn btn-outline-gray-400 text-muted"
                                                   data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                   aria-expanded="false"
                                                   aria-controls="flush-collapseTwo">Prev</a>
                                                <button type="submit" class="btn btn-primary ms-2">Place Order</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-12 offset-lg-1 col-lg-5">
                        <div class="mt-4 mt-lg-0">
                            <div class="card shadow-sm">
                                <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                                <ul class="list-group list-group-flush">
                                    {% for cart_item in cart_items %}
                                        <!-- list group item -->
                                        <li class="list-group-item px-4 py-3">
                                            <div class="row align-items-center">
                                                <div class="col-2 col-md-2">
                                                    <img src="{{ url_for('serve_item_image', item_id=cart_item.item_id, image_number=4) }}"
                                                         alt="Item Image"
                                                         class="img-fluid"></div>
                                                <div class="col-5 col-md-5">
                                                    <h6 class="mb-0">{{ cart_item.item.name }}</h6>

                                                </div>
                                                <div class="col-2 col-md-2 text-center">
                                                    <span>{{ cart_item.quantity }} {{ cart_item.item.unit_name }}</span>

                                                </div>
                                                <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                                    <span class="fw-bold">₹ {{ cart_item.amount }}</span>

                                                </div>
                                            </div>

                                        </li>
                                    {% endfor %}

                                    <!-- list group item -->
                                    <li class="list-group-item px-4 py-3">
                                        <div class="d-flex align-items-center justify-content-between   mb-2">
                                            <div>
                                                Item Subtotal

                                            </div>
                                            <div class="fw-bold">
                                                ₹ {{ item_subtotal }}
                                            </div>

                                        </div>
                                        {% if cart.promo_code %}
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <div class="text-primary">
                                                    Promo Applied

                                                </div>
                                                <div class="fw-bold text-primary">
                                                    -
                                                    ₹ {{ item_subtotal - item_subtotal * (cart.promo_code.deduction_value / 100) }}
                                                </div>

                                            </div>
                                        {% endif %}
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <div>
                                                Service Fee <i class="feather-icon icon-info text-muted"
                                                               data-bs-toggle="tooltip"
                                                               title="Includes processing and delivery charges"></i>

                                            </div>
                                            <div class="fw-bold">
                                                ₹ 20.0
                                            </div>

                                        </div>


                                    </li>
                                    <!-- list group item -->
                                    <li class="list-group-item px-4 py-3">
                                        <div class="d-flex align-items-center justify-content-between fw-bold">
                                            <div>
                                                Subtotal
                                            </div>
                                            <div>
                                                ₹ {{ cart.total_amount + 20 }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</section>

<div class="modal fade"
     id="addAddressModal"
     tabindex="-1"
     aria-labelledby="addAddressModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <!-- modal content -->
        <div class="modal-content">
            <!-- modal body -->
            <div class="modal-body p-6">
                <div class="d-flex justify-content-between mb-5">
                    <div>
                        <!-- heading -->
                        <h5 class="mb-1" id="addAddressModalLabel">
                            New Shipping Address
                        </h5>
                        <p class="small mb-0">
                            Add new shipping address for your order
                            delivery.
                        </p>
                    </div>
                    <div>
                        <!-- button -->
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                </div>
                <!-- row -->
                <form action="{{ url_for('add_address') }}" method="post">
                    <div class="row g-3">
                        <!-- col -->
                        <div class="col-12">
                            <!-- input -->
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Label"
                                    aria-label="Label"
                                    name="label"
                                    required
                            />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- input -->
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Address Line 1"
                                    aria-label="Address Line 1"
                                    name="address1"
                                    required
                            />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- input -->
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Address Line 2"
                                    aria-label="Address Line 2"
                                    name="address2"
                                    required
                            />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- input -->
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="City"
                                    aria-label="City"
                                    name="city"
                                    required
                            />
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- form select -->
                            <select class="form-select" name="country">
                                <option value="India">India</option>
                            </select>
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- form select -->
                            <select class="form-select" name="state">
                                <option selected>Choose State</option>
                                {% for state in states %}
                                    <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <!-- input -->
                            <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Zip Code"
                                    aria-label="Zip Code"
                                    name="zip"
                                    required
                            />
                        </div>
                        <input type="hidden" name="return_url" value="{{ request.path }}"/>
                        <!-- col -->
                        <div class="col-12 text-end">
                            <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                            <button class="btn btn-primary" type="submit">
                                Save Address
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}