{% include "dashboard-header.html" %}

{#  Navbar Vertical  #}
<nav class="navbar-vertical-nav d-none d-xl-block ">
    <div class="navbar-vertical">
        <div class="px-4 py-5">
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo/freshcart-logo.svg') }}" alt="FreshCart Logo">
            </a>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column" id="sideNavbar">

                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span class="nav-link-text">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span></li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard_products') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">Products</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('dashboard_categories') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
                            <span class="nav-link-text">Categories</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{{ url_for('dashboard_orders') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard_customers') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('promo_codes') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Promo Codes</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{# Navbar Vertical Off-Canvas #}
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
    <div class="navbar-vertical">
        <div class="px-4 py-5 d-flex justify-content-between align-items-center">
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo/freshcart-logo.svg') }}" alt="FreshCart Logo">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column">
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span></li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{{ url_for('dashboard_products') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">Products</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('dashboard_categories') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
                            <span class="nav-link-text">Categories</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{{ url_for('dashboard_orders') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard_customers') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('promo_codes') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Promo Codes</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<main class="main-content-wrapper">
    <div class="container">
        <div class="row mb-8">
            <div class="col-md-12">
                <!-- page header -->
                <div class="d-md-flex justify-content-between align-items-center">
                    <div>
                        <h2>Orders</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="row justify-content-between mb-2">
                        <div class="col-md-4 col-12">
                            <form class="d-flex" role="search">
                                <input id="search-input" class="form-control" type="search"
                                       placeholder="Search Orders"
                                       aria-label="Search"
                                >
                            </form>
                        </div>
                    </div>
                    <!-- card body -->
                    <div class="card-body p-0">
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-centered table-hover text-nowrap table-borderless mb-0">
                                <thead class="bg-light">
                                <tr>
                                    <th>Order ID</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Payment</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr data-search="{{ order.order_id }} {{ order.user.name }} {{ order.payment_method }}">
                                        <td><a href="#" class="text-reset">#{{ order.order_id }}</a></td>
                                        <td>{{ order.user.name }}</td>

                                        <td>{{ order.date.strftime('%d %b %Y') }}</td>
                                        <td>
                                            {% if order.payment_method == "COD" %}
                                                Cash On Delivery
                                            {% else %}
                                                {{ order.payment_method }}
                                            {% endif %}
                                        </td>
                                        <td>₹{{ order.total_amount }}</td>

                                        <td>
                                            <a class="dropdown-item text-danger" href="{{ url_for('delete_order', order_id=order.order_id) }}"><i
                                                    class="bi bi-trash me-3"></i>Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

{% include "dashboard-footer.html" %}