{% include "header.html" %}

<section>
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                    <!-- heading -->
                    <h3 class="fs-5 mb-0">Order #{{ order.order_id }}</h3>
                    <!-- button -->

                    <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
                            aria-controls="offcanvasAccount">
                        <i class="bi bi-text-indent-left fs-3"></i>
                    </button>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
                <div class="pt-10 pe-lg-10">
                    <!-- nav item -->
                    <ul class="nav flex-column nav-pills nav-pills-dark">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('orders') }}"><i
                                    class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('addresses') }}"><i
                                    class="feather-icon icon-map-pin me-2"></i>Address</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('account_settings') }}"><i
                                    class="feather-icon icon-settings me-2"></i>Settings</a>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <hr>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('logout') }}"><i
                                    class="feather-icon icon-log-out me-2"></i>Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- col -->
            <div class="col-lg-9 col-md-8 col-12">
                <div class="py-6 p-md-6 p-lg-10">
                    <!-- heading -->
                    <div class="d-flex justify-content-between align-items-center mb-6">
                        <!-- heading -->
                        <div>
                            <h2 class="mb-0">Order #{{ order.order_id }}</h2>
                            <h5 class="text-black-50">Order Details</h5>
                        </div>
                        <!-- button -->
                        <a href="{{ url_for('orders') }}" class="btn btn-outline-gray-400 text-muted d-none d-md-block">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                    </div>

                    <div class="table-responsive-xxl border-0">
                        <!-- Table -->
                        <table class="table mb-0 text-nowrap table-centered ">
                            <!-- Table Head -->
                            <thead class="bg-light">
                            <tr>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Table body -->
                            {% for order_item in order_items %}
                                <tr>
                                    <td class="align-middle">
                                        <img
                                                src="{{ url_for('serve_item_image', item_id=order_item.item_id, image_number=1) }}"
                                                alt="{{ order_item.item.name }} Image"
                                                class="icon-shape icon-md"></a>
                                    </td>
                                    <td class="align-middle border-top-0">
                                        {{ order_item.item.name }}
                                    </td>
                                    <td class="align-middle border-top-0">
                                        {{ order_item.quantity }} {{ order_item.item.unit_name }}
                                    </td>
                                    <td class="align-middle border-top-0">
                                        ₹ {{ order_item.amount }}
                                    </td>
                                </tr>

                            {% endfor %}
                            <tr>
                                    <td colspan="3" class="align-middle">
                                        Service Fee
                                    </td>
                                    <td class="align-middle">
                                        ₹ 20.0
                                    </td>
                                </tr>
                            <tr>
                                    <td colspan="3" class="align-middle">
                                        <b>Grand Total</b>
                                    </td>
                                    <td class="align-middle">
                                        <b>₹ {{ order.total_amount }}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <!-- offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- offcanvas body -->
    <div class="offcanvas-body">
        <ul class="nav flex-column nav-pills nav-pills-dark">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('orders') }}"><i
                        class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('addresses') }}"><i
                        class="feather-icon icon-map-pin me-2"></i>Address</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account_settings') }}"><i
                        class="feather-icon icon-settings me-2"></i>Settings</a>
            </li>
        </ul>
        <hr class="my-6">
        <div>
            <!-- navs -->
            <ul class="nav flex-column nav-pills nav-pills-dark">
                <!-- nav item -->
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('logout') }}"><i
                            class="feather-icon icon-log-out me-2"></i>Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include "footer.html" %}
