{% include "dashboard-header.html" %}

{#  Navbar Vertical  #}
<nav class="navbar-vertical-nav d-none d-xl-block ">
    <div class="navbar-vertical">
        <div class="px-4 py-5">
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo/freshcart-logo.svg') }}" alt="FreshCart Logo">
            </a>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column" id="sideNavbar">

                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span class="nav-link-text">Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span></li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{{ url_for('dashboard_products') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">Products</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('dashboard_categories') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
                            <span class="nav-link-text">Categories</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard_orders') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard_customers') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('promo_codes') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Promo Codes</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{# Navbar Vertical Off-Canvas #}
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
    <div class="navbar-vertical">
        <div class="px-4 py-5 d-flex justify-content-between align-items-center">
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/logo/freshcart-logo.svg') }}" alt="FreshCart Logo">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column">
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span>Dashboard</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span></li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{{ url_for('dashboard_products') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">Products</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('dashboard_categories') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-list-task"></i></span>
                            <span class="nav-link-text">Categories</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('dashboard_orders') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard_customers') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('promo_codes') }}">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Promo Codes</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<main class="main-content-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row mb-8">
            <div class="col-md-12">
                <div class="d-md-flex justify-content-between align-items-center">
                    <!-- page header -->
                    <div>
                        <h2>Update Product</h2>
                    </div>
                    <!-- button -->
                    <div>
                        <a href="{{ url_for('dashboard_products') }}" class="btn btn-light">Back to Products</a>
                    </div>
                </div>

            </div>
        </div>
        <form action="{{ url_for('update_product', item_id=product.item_id) }}" method="post" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-8 col-12">
                    <!-- card -->
                    <div class="card mb-6 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6 ">
                            <h4 class="mb-4 h5">Product Information</h4>
                            <div class="row">
                                <!-- input -->
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label">Name</label>
                                    <input name="name" type="text" class="form-control" placeholder="Product Name"
                                           required value="{{ product.name }}">
                                </div>
                                <!-- input -->
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label">Product Category</label>
                                    <select class="form-select" name="category" id="redirectSelect">
                                        <option selected>Choose Category</option>
                                        {% if categories %}
                                            {% for category in categories %}
                                                <option value="{{ category.category_id }}" selected="{{ product.category }}">{{ category.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                        <option value="{{ url_for('add_category') }}">Create Category</option>
                                    </select>
                                </div>
                                <!-- input -->
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label">Unit Name</label>
                                    <input name="unit" type="text" class="form-control" placeholder="Eg. KG Gram Lt."
                                           required value="{{ product.unit_name }}">
                                </div>
                                <!-- input -->
                                <div class="mb-3 col-lg-6">
                                    <label class="form-label">Price / Unit</label>
                                    <input name="price" type="number" class="form-control" placeholder="Price" required
                                           value="{{ product.rate_per_unit }}">
                                </div>
                                <div>
                                    <div class="mb-3 col-lg-12 mt-4">
                                        <!-- heading -->
                                        <h4 class="mb-3 h5">Product Images</h4>

                                        <div class="row">
                                            <div class="col-md-3 col-6 mb-4 d-flex">
                                                <div class="position-relative">
                                                    <img class="image icon-shape icon-xxxl bg-light rounded-4" src="
                                                            {{ url_for('serve_item_image', item_id=product.item_id, image_number=1) }}"
                                                         alt="Image">
                                                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                                                        <input type="file" class="file-input" name="image1">
                                                        <span class="icon-shape icon-sm rounded-circle bg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                             fill="currentColor"
                                                             class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-6 mb-4 d-flex">
                                                <div class="position-relative">
                                                    <img class="image icon-shape icon-xxxl bg-light rounded-4"
                                                         src="{{ url_for('serve_item_image', item_id=product.item_id, image_number=2) }}"
                                                         alt="Image">
                                                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                                                        <input type="file" class="file-input" name="image2">
                                                        <span class="icon-shape icon-sm rounded-circle bg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                             fill="currentColor"
                                                             class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-6 b-4 d-flex">
                                                <div class="position-relative">
                                                    <img class="image icon-shape icon-xxxl bg-light rounded-4"
                                                         src="{{ url_for('serve_item_image', item_id=product.item_id, image_number=3) }}"
                                                         alt="Image">
                                                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                                                        <input type="file" class="file-input" name="image3">
                                                        <span class="icon-shape icon-sm rounded-circle bg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                             fill="currentColor"
                                                             class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-6 mb-4 d-flex">
                                                <div class="position-relative">
                                                    <img class="image icon-shape icon-xxxl bg-light rounded-4"
                                                         src="{{ url_for('serve_item_image', item_id=product.item_id, image_number=4) }}"
                                                         alt="Image">
                                                    <div class="file-upload position-absolute end-0 top-0 mt-n2 me-n1">
                                                        <input type="file" class="file-input" name="image4">
                                                        <span class="icon-shape icon-sm rounded-circle bg-white">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                                             fill="currentColor"
                                                             class="bi bi-pencil-fill text-muted" viewBox="0 0 16 16">
                                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-12">
                    <!-- card -->
                    <div class="card mb-6 card-lg">
                        <!-- card body -->
                        <div class="card-body p-6">
                            <!-- input -->
                            <div>
                                <div class="mb-3">
                                    <label class="form-label">Stock Quantity</label>
                                    <input name="stock_quantity" type="number" class="form-control"
                                             value="{{ product.stock_quantity }}"
                                           placeholder="Enter quantity" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Manufacture Date</label>
                                    <input name="manufacture_date" type="date" class="form-control"
                                           placeholder="Select Date" value="{{ product.manufacture_date }}" required>
                                </div>
                                <!-- input -->
                                <div class="mb-3">
                                    <label class="form-label">Expiry Date</label>
                                    <input name="expiry_date" type="date" class="form-control"
                                           placeholder="Select Date" value="{{ product.expiry_date }}" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">
                            Update Product
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</main>

<script>
    const selectElement = document.getElementById('redirectSelect');

    selectElement.addEventListener('change', function () {
        const selectedValue = selectElement.value;
        if (selectedValue) {
            // Check if the selected value is a valid URL
            const isValidURL = /^(https?:\/\/|\/)/.test(selectedValue);

            if (isValidURL) {
                window.location.href = selectedValue;
            } else {
                console.log('Selected value is not a valid URL:', selectedValue);
                // Handle non-redirect behavior here (if needed)
            }
        }
    });
</script>


{% include "dashboard-footer.html" %}